<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529071733784-u0vub17piat3r71iunfqsuhojqocshi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529071733784-u0vub17piat3r71iunfqsuhojqocshi3</string>
	<key>API_KEY</key>
	<string>AIzaSyCdgNz3yZ6HjTXbUttRsMUpRP5v5Q1BJFI</string>
	<key>GCM_SENDER_ID</key>
	<string>529071733784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.afetdestek.ios</string>
	<key>PROJECT_ID</key>
	<string>deprem-destek-org</string>
	<key>STORAGE_BUCKET</key>
	<string>deprem-destek-org.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529071733784:ios:d443e9945bdf2cfd4c976d</string>
</dict>
</plist>